* {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    color: rgb(31, 28, 28);
    outline-color: rgb(255, 255, 255);
}

body {
    background-color: rgb(216, 230, 239);
}

h1 {
    font-size: 45pt;
}

.form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 176px;
}

.downloads {
    position: relative;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
    top: 120px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: lightgray;
}

.adminusers {
    padding-left: 85.5px;
    padding-right: 85.5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: lightgray;
    margin-bottom: 10px;

}

.adminpanel {
    position: relative;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    padding-top: 20px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: lightgray;
}

.userbutton {
    position: absolute;
    right: 0px;
}

.center {
    text-align: center;
}

.alert-green {
    color: green;
    position: absolute;
  
}

.alert-error {
    color: red;
    position:absolute;
}

.alert-users {
    position: absolute;
    width: 15.5%;
}
.boxfull {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    top: 85px;
    background-color: rgb(255, 255, 255);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 40px;
    border: solid;
    border-width: 2px;
    border-color: black;
}

.boxsmall {
    width: 150px;
}

.boxsmall2 {
    width: 300px;
    height: 30px;
}
.bgblue {
    background-color: blue;
}

.minvh100 {
    min-height: 100vh;
}

td, th {
    border: solid;
    border-width: 1px;
    border-color: grey;
    vertical-align: middle;
    font-weight: 500;
    font-size: 17pt;
    
}

th {
    font-weight: bolder;
}