{% extends "layout.html" %}

{% block title %}
Intranet Documents
{% endblock %}

{% block body %}
    <h1 class="title">Documents</h1>
    
    <div class="container-fluid downloads text-center" style="padding-top: 50px;">
        <h2 class="mb-5">Downloads</h2>
        <div>
            <a class="btn btn-success m-1" href="/download/company_handbook.pdf">Company Handbook</a>
            <a class="btn btn-success m-1" href="/download/benefits.pdf">Employment Benefits</a>
            <a class="btn btn-success m-1" href="/download/insurance_enrollment.pdf">Insurance Enrollment</a>
        </div>
    </div>
{% endblock %}