{% extends "layout.html" %}

{% block title %}
Project Documents
{% endblock %}

{% block body %}
    <h1 class="title">Document downloads</h1>
    
    <div class="container-fluid downloads">
        <div>
            <a class="btn btn-success" href="/download/company_handbook.pdf">Company Handbook</a>
            <a class="btn btn-success" href="/download/benefits.pdf">Employment Benefits</a>
            <a class="btn btn-success" href="/download/insurance_enrollment.pdf">Insurance Enrollment</a>
        </div>
    </div>
{% endblock %}