{% extends "layout.html" %}

{% block title %}
Intranet Login
{% endblock %}

{% block body %}
<h1 class="title">Login</h1>

<div class="container-fluid text-center mt-5 position-relative">
  <div class="row">
    <div class="col-5">
    </div>
    
    <!--Middle column-->
    <div class="col-2 text-center mt-5">
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <h5 class="alert-{{category}}" style="top: 29px; right: 0; left: 0;">{{ message }}</h5>
      {% endfor %}
      <br>
      <form action="/login" method="post">
        <input class="center" autocomplete="off" autofocus name="email" placeholder="Email" type="text">
        <input class="center" name="password" placeholder="Password" type="password">
        <button class="btn btn-primary" type="submit">Log In</button>
      </form>
    </div>
    
    <div class="col-5">
    </div>
  </div>
</div>
{% endblock %}