{% extends "layout.html" %}

{% block title %}
Intranet Login
{% endblock %}

{% block body %}
    <h1 class="title">Login</h1>
    
    <div class="form">
    {% for message in get_flashed_messages() %}
      <h5 class="error">{{ message }}</h5>
      {% endfor %}
    
      <form action="/login" method="post">
        
        <input autocomplete="off" autofocus name="email" placeholder="Email" type="text">
        <input name="password" placeholder="Password" type="password">
        
        <button type="submit">Log In</button>
    </form>
    </div>
{% endblock %}