{% extends "layout.html" %}

{% block title %}
Project Login
{% endblock %}

{% block body %}
    <h1 class="title">Login</h1>

    <form action="/login" method="post">
        <div>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div>
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div>
            <input name="email" placeholder="Email" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}