{% extends "layout.html" %}

{% block title %}
Intranet Register
{% endblock %}

{% block body %}
    <h1 class="title">Register</h1>
        
    <div class="form">
    {% for message in get_flashed_messages() %}
    <h5 class="error">{{ message }}</h5>
    {% endfor %}

    <form action="/register" method="post">
        
        <input autocomplete="off" autofocus name="email" placeholder="Email" type="text">
        <input autocomplete="off" name="name" placeholder="Name" type="text">
        <input name="password" placeholder="Password" type="password">
        
        <button type="submit">Register Now</button>
    </form>
    </div>
{% endblock %}